@import "../../assets/sass/main.scss";

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;

  input {
    display: flex;
    flex-direction: column;
  }
}
